
<ng-container >
    <div *ngIf="((dataSource.loading$|async) === false) && dataSource.resultsFound.value===0">
        <div class="tw-text-24-px tw-m-24-px">No results found

        </div>
    </div>



<mat-table   *ngIf="dataSource.resultsFound.value!==0" class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title </mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{lesson.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let lesson">{{lesson.author_name!==undefined?lesson.author_name[0]:undefined}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef>Year of Publication</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let lesson">{{lesson.first_publish_year}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></mat-row>

</mat-table  >
    <div  *ngIf="((dataSource.loading$|async))" class="spinner">
        <mat-spinner></mat-spinner>
    </div>

    <mat-paginator  [pageSizeOptions]="[ 10, 15]" [length]="dataSource.resultsFound.value"></mat-paginator>

</ng-container>

